<H1>"My Jupyter Notebook on IBM Watson Studio"</H1>

<b> Hassan Ali Javed </b>

Database Administrator

<i> "I am interested in data science because this is something new and hot" </i>

<h3> It must be executed and must display an output. Try to keep the code simple (it can even be "1 + 1") </h3>

In [ ]:
A=1
B=1
print (A+B)

<p>ยง1: The first rule of a Data Scientist is to secure the data.</p>

<hr>

<p>ยง2: The second rule of a Data Scientist is to provide the analysis and insight of the Data.</p>
<ul style="list-style-type:circle">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

<ul style="list-style-type:disc">
  <li>Data</li>
  <li>Science</li>
  <li>Network</li>
</ul>

<ul style="list-style-type:square">
  <li>Butter</li>
  <li>Bread</li>
  <li>Honey</li>
</ul>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>